$one-em: 1em;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

@mixin translateX( $xVal ) {
  -webkit-transform: translateX( $xVal );
  -moz-transform: translateX( $xVal );
  -ms-transform: translateX( $xVal );
  -o-transform: translateX( $xVal );
  transform: translateX( $xVal ); 
}

.content-container {
  width: 960px;
  margin: auto;
  @include translateX(14px)
}

.page-header {
  position: relative;
  color: #242D3E;
  fill: #242D3E;
  padding-bottom: $one-em;
  @include translateX(14px);
}

.page-header > h1 {
  font-family: 'Lobster', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 3 * $one-em;
  margin-left: 115px;
  margin-bottom: 0;
}

.page-header > p {
  margin-left: 115px;
}

header svg {
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

.post-header, .comment h2 {
  background-color: #DDE5F2;
  padding: 0.5 * $one-em;
  padding-left: $one-em;
  margin-top: $one-em;
  margin-bottom: $one-em;
  margin-left: -2 * $one-em;
  margin-right: -2 * $one-em;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
}
.post-header h2, .post-header p {
  display: inline-block;
  padding: .5 * $one-em;
  padding-left: $one-em;

}
.post-header h2 {
  padding-right: 2 * $one-em;
}

section {
  padding-left: 2 * $one-em;
  padding-right: 2 * $one-em;
  @include translateX(14px); 
}

.sidebar-container {
  position: relative;
}

nav {
  position: absolute;
  right: 0;
  width: 230px;
  padding: $one-em;
  padding-top: 0;
  background-color: #F2EBDD;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);  
}

main {
  width: 720px;
}

footer {
  font-size: 70%;
  padding: $one-em;
  color: #DDE5F2;
  background-color: #6E7C8E;
  margin-top: 2 * $one-em;
}

.green-rectangle {
  width:30%;
  height:200px;
  background-color: mediumseagreen;
}

a {color : F00;
    &:link,
    &:visited {color: #8A4D28}
    &:hover,
    &:focus,
    &:active {color:#F2C995}
}

footer a{
    &:hover,
    &:focus {color:#F2C995}
    &:link,
    &:visited {color: #F0D6B2}
}